<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <script src="https://kit.fontawesome.com/387c89d594.js" crossorigin="anonymous"></script>
    <link href="~/Content/Style/Layout-style.css" rel="stylesheet" />
</head>
<body>
    @*header*@
    @*<div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Application name", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li>@Html.ActionLink("About", "About", "Home")</li>
                    <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                </ul>
            </div>
        </div>*@
    @*</div>*@
    <div class="navbar">
        <div class="nav-header">
            <div class="header-contact">
                <div class="icon-contact">
                    <a><i class="fab fa-facebook-square"></i></a>
                    <a><i class="fab fa-twitter"></i></a>
                    <a><i class="fab fa-instagram"></i></a>
                </div>              
            </div>
            <div class="header-logo">
                <h2>My Blogg</h2>
            </div>
            <div class="header-txtsearch">
                <div class="space-2"></div>
                <div class="main-search">
                    <input type="text" class=" txt-search" />
                    <button class="btn-search"><i class="fas fa-search"></i></button>
                </div>               
            </div>
        </div>
        <div class="nav-menu">
            <div class="space-1"></div>
            <div class="menu">
                <ul>
                    <li><a>Home</a></li>
                    <li><a>Categories</a></li>
                    <li><a>Blog</a></li>
                    <li><a>About</a></li>
                    <li><a>Contact</a></li>
                </ul>
            </div>
            <div class="nav-user">
                @if (Session == null)
                {
                    <a><i class="fas fa-sign-in-alt"></i></a>
                }
                else
                {
                    <a><i class="fas fa-sign-out-alt"></i></a>
                }
            </div>
        </div>
    </div>
    @*end header*@

    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @*@Scripts.Render("~/bundles/bootstrap")*@
    @RenderSection("scripts", required: false)
</body>
</html>
